{% extends "base.html" %}
{% block title %}
    AI Page
{% endblock %}

{% block body %}
    <form class="row g-2 mt-1" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% for errors in form.errors.values() %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    * {{ error }}<br>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="col-6 offset-3 my-2">
    <div class="row mt-2">